{% extends 'base.html.twig' %}
    {% block body %}
<div class="wrapper">
        {% include 'components/main-header.html.twig' %}
        {% include 'components/sidebar-wrapper.html.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block contentHeader %}

        {% endblock %}

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Your Page Content Here |
              -------------------------->
            {% block content %}

            {% endblock %}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
        {% include 'components/main-footer.html.twig' %}
        {% include 'components/control-sidebar.html.twig' %}
</div>
        <!-- ./wrapper -->
    {% endblock %}
